DATABASE_URL=URL d'exposition de la base 
FT_CLIENT_ID=ID France travail
FT_CLIENT_SECRET=secret France Travail 
HUGGINGFACE_API_KEY=Hugging face API key 
API_KEY_ADMIN=Mot de passe à configurer pour la gestion de certains endpoints de l'API 